<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'books/list',book: @book ,user: current_user %>

		</div>

		<div class="col-xs-9">
			<h1>Users</h1>

			<table class="table">
				<thead>
					<tr>
						<th scope="col">image</th>
						<th scope="col">name</th>
						<th scope="col">#</th>
					</tr>
				</thead>
				<tbidy>

					<% @users.each do |user| %>
					<tr>
						<th scope="row"><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "noimage.png",size:'100x100'  %></th>
						<td><%= user.name %></td>
						<td><%= link_to"Show",user_path(user) %></td>
					</tr>
					<% end %>
				</tbidy>
			</table>
		</div>
	</div>
</div>































